__pycache__
env
Lib
Scripts

python_flask_venv

myenv
project_6
mahasha_virasat

7_database_connection/sqldiff.exe
7_database_connection/sqlite_master
7_database_connection/sqlite3_analyzer.exe
7_database_connection/sqlite3.exe


