The name recieved are {{context.name}}
<br>
Their age {{context.number}}
<br>
The minimum age is {{context.number|min}}
<br>
The maximum age is {{context.number|max}}
<br>
The sum of age is {{context.number|sum}}
<br>
The sorted age is {{context.number|sort}}
<br>
The sorted name are {{context.name|sort}}
<br>
The upper name are {{context.name|upper}}
<br>
The first age is {{context.number|first}}
<br>
The first name is {{context.name|first|upper}}
<br>
{% for a_name in context.name %}
    {{a_name|upper}}
    <br>
{% endfor %}
<br>
<h1>Reverse order</h1>
{% for a_name in context.name %}
    {{loop}}{{a_name|reverse|upper }}
    <br>
{% endfor %}